.recent-update {
    width: 100%;
    height: fit-content;
    margin-top: 3pc;
}

.recent-update-text {
    width: 229px;
    height: 38px;
    color: #000;
    font-size: 28px;
    font-family: Poppins;
    font-weight: 600;
    margin-left: 50px;
    margin-bottom: 20px;
}

.recent-update-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 31px;
    margin-right: 31px;
}

.recent-update-lowercards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;

}


.cards {
    width: 400px;
    height: auto;
    margin: 1pc;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.10), -1px -1px 8px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* background-color: black; */
}

.card-image {
    margin-top: 34px;
    margin-bottom: 21px;
    margin-right: 34px;
}

.card-text-inner1 {
    margin-top: 34px;
    /* margin-bottom: 91px; */
    /* margin-right: 10px; */
    font-size: 20px;
    margin-left: 30px;
}

.card-text-inner2 {
    /* margin-top: 34px; */
    /* margin-bottom: 91px; */
    /* margin-right: 10px; */
    margin-left: 30px;
}

.card-text1 {
    font-size: 2.3rem;
}

.card-text2 {
    font-size: 0.9rem;
}

@media (max-width: 881px) {
    .card-image{
        margin: .4pc;
        margin-left: 20px;
    }
    .cards{
        width: auto;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin: .2pc;
    }
    .recent-update-cards{
        display: grid;
        grid-template-columns: auto auto;
    }
    .card-text-inner1{
        margin-left: 0pc;
    }
    .card-text-inner2{
        margin-left: 0pc;
    } 
}